---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout metadata={{title: "Contacto", description: "Estamos aquí para ayudarte con cualquier pregunta que tengas."}}>
  <Header />
  <main>
    <HeroSection
      title="Contacto"
      description="Estamos aquí para ayudarte con cualquier pregunta que tengas."
    />
    <ContactForm />
  </main>
  <Footer />
</Layout>
