---
const formUrl = 'https://rotarydavid.notion.site/ebd/1f9498db4891807da2b6fee6ed33f887';
---
<section class="py-20 bg-primary-50 dark:bg-primary-900/10">
  <div class="container-custom w-full flex items-center justify-center">
    <iframe
      src={formUrl}
      width="100%"
      height="6924px"
      frameborder="0"
      allowfullscreen
    />
  </div>
</section>